@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar..... */
.nav a {
  transition: all 0.3s;
  padding: 5px 30px;
}

.nav a:hover,
.nav .active {
  border-bottom: solid 5px rgb(89, 22, 245);
}

.bottom .icon a {
  display: flex;
  place-items: center;
}

.bottom .icon i {
  margin-right: 10px;
}